* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: #3882F6; /* Set background color */
  border: none; /* Remove borders */
  color: white; /* Set text color */
  padding: 8px 8px; /* Add padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display to inline block */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Add margin */
  cursor: pointer; /* Change cursor on hover */
  width: 120px;
  border-radius: 8px;
}

img {
  width: 40%;
  height: auto;
  margin-bottom: 40px;
}

.section1 {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

.section1 .part1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: 100px;
}

.headerLogo {
  display: flex;
  font-size: 24px;
  color: #F9FAF8;
}

.topLinks {
  display: flex;
  align-items: center;
  margin-right: 300px;
}

.topLinks a {
  margin-left: 30px;
  color: #9b9898;
  text-decoration: none;
}

.section1 .part2 {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.mainText {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.secondaryText {
  font-size: 18px;
  color: #9b9898;
}

.section1 .part3 {
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
}

.section2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.section2 .part1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%; 
}

.section2 .part2 {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.section2 .part3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .part4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .part5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}